{{> head}}


    {{> navbar }}

   <div class="row">

       <div class="col-8">
           <h1>Hola Rodrigo Portillo</h1>
           <p>Este es un párrafo</p>
       </div>

       <div class="col-4">
           <img src="assets/img/1.jpg" alt="img-thumbnail">
       </div>

   </div>

    {{> footer}}